
# Created by https://www.gitignore.io/api/racket,scheme

### Racket ###
*~
*.bak

compiled/


### Scheme ###
*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# End of https://www.gitignore.io/api/racket,scheme
